.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ed9595;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar .nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .navbar .nav-link:hover {
    background-color: #555;
    border-radius: 5px;
  }
  
  .navbar .nav-link.active {
    background-color: #007bff;
    border-radius: 5px;
  }
  
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  